<!DOCTYPE html>
<ul class="sidebar-nav">
    <li><a href="/inventory">Inventory Overview</a></li>
    <li><a href="/inventory/categories">All categories</a></li>
    <li><a href="/inventory/products">All products</a></li>
    <li><hr></li>
    <li><a href="/inventory/category/create">Create new category</a></li>
    <li><a href="/inventory/product/create">Create new product</a></li>
</ul>